/* Mobile */

/*Sección Menu*/

.menu{
    padding: 1rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/fondo_textura.jpg);
}

.menu__title{
    font-size: 1rem;
    font-weight: bold;
}

.menu__list__item{
    display: none;
}

.menu__list__item__contacto, .menu__list__item__contacto a{
    display: flex;
    align-items: center;
    font-size: 0.625rem;
    text-decoration: none;
    color: var(--color-de-link);
    padding-left: 0.2rem;
}

/*Sección Title*/

.title{
    display: flex;
    background-image: url(../images/fondo_textura.jpg);
}

.title__profile{
    border-radius: 100%;
    width: 30%;
    padding: 0.5rem;
}

.title__bio{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.7rem;
    line-height: 1.8rem;
}

.title__subsection{
    font-size: 1rem;
    padding-bottom: 0.7rem;
    line-height: 1.2rem;
}

.title__network{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
}

.title__network__item a{
    text-decoration: none;
    color: var(--color-de-link);
    font-weight: bold;
}

.title__network__item img{
    padding-left: 0.3rem;
}

/*Sección About*/

.about__container{
    background-color: var(--color-de-fondo-secundario);
    width: 100%;
    padding: 1rem 0;
}

.about__title{
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.about__paragraph{
    font-size: 1rem;
    line-height: 1.2rem;
    padding-top: 0.5rem;
}

/* Sección Skills y Hobies*/

.skills__title, .hobbies__title{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
}

.skills__line, .hobbies__line{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
}

.skills__box, .hobbies__box{
    background-color: var(--color-de-cards);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 7.375rem;
    border-radius: 0.2rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.skills__img{
    width: 24px;
    height: 37px;
}

.skills__name, .hobbies__name{
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-de-link);
} 

/* Sección Experiencia Académica*/

.academic{
    background-color: var(--color-de-fondo-secundario);
}

.academic__title{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
}

.academic__box{
    width: 100%;
}

.academic__box__img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-de-cards);
    height: 12.5rem;
}

.academic__box__item__title{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0;
}

.academic__box__item__subtitle{
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

/* Sección Experiencia Profesional*/

.experience__section__title{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
}

.experience__img{
    width: 100%;
}

.experience__title{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0;
}

.experience__text{
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.experience__description{
    padding: 0.5rem 0 1rem 0;
}

.experiencia__boton--repo{
    background-color: transparent;
    border: solid 0.1rem var(--color-boton);
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-boton);
    width: 6.650rem;
    height: 2.063rem;
    border-radius: 0.2rem;
}

.experience__boton--demo{
    background-color: var(--color-boton);
    border: solid 0.1rem var(--color-boton);
    font-size: 0.8rem;
    color: var(--color-de-cards);
    width: 6.650rem;
    height: 2.063rem;
    border-radius: 0.2rem;
}

/*Sección Contacto*/

.formcontacto__contacto{
    background-color: var(--color-de-fondo-secundario);
    padding: 1rem;
}

.formcontacto__title{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: left;
}

.formcontacto__subtext{
    font-size: 1rem;
    line-height: 1.2rem;
    padding-top: 0.5rem;
}

.formcontacto__form{
    background-image: url(../images/fondo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;

}

.formcontacto__box{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.formcontacto__control, .formcontacto__textarea{
    padding: 0.5rem;
    border-color: transparent;
}

.formcontacto__control:focus, .formcontacto__textarea:focus{
    transition: all 0.2s ease;
    outline: none;
    border-bottom: 0.1rem solid var(--color-boton);
}

.formcontacto__label{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-boton);
    text-shadow: 1px 1px 2px var(--color-de-cards), 0 0 1em var(--color-de-cards), 0 0 0.2em var(--color-de-cards);
    padding-bottom: 0.5rem;
}

.input-message-error{
    display: none;
}

.formcontacto__boton{
    width: 50%;
    height: 2.5rem;
    background-color: var(--color-boton);
    border: solid 0.1rem var(--color-boton);
    font-size: 1rem;
    color: var(--color-de-cards);
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}

/*Footer*/

.footer{
    padding: 1rem;
    background-color: var(--color-de-fondo);
}

.footer__rodapie{
    font-size: 0.7rem;
    text-align: center;
    color: var(--color-de-texto);
    padding: 1rem 0;
}

.footer__redes__list{
    display: flex;
    justify-content: center;
}

.footer__list__item{
    padding: 0.5rem;
}


/*Tablet*/
@media (min-width: 768px) {

    /* Sección Title */
    .title__div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .title__container{
        padding-left: 1rem;
    }

    .title__network{
        justify-content: flex-start;
    }

    .title__network__item{
        padding-right: 2rem;
    }

    /* Sección Skills y Hobbies */
    .skills__box, .hobbies__box{
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    /* Sección Experiencia Académica */
    .academic__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .academic__box{
    width: 45%;
    }

    /* Sección Experiencia Profesional */
    .experience__box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1.5rem;
    }

    .experience__img{
    width: 50%;
    }

    .experience__info{
    padding-left: 5rem;
    }

    /* Sección Contacto */
    .formcontacto__contacto{
        padding: 1.5rem 0;
        background-image: url(../images/fondo1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }

    .formcontacto__text{
        width: 50%;
        box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.3);
        background-color: var(--color-de-fondo-secundario);
        padding: 1rem;
    }

    .formcontacto__form{
        background-image: none;
    }

    .formcontacto__boton{
        margin-top: 1rem;
        cursor: pointer;
    }
}

/*Desktop*/
@media (min-width: 1024px) {

    /* Sección Menú */
    .menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .menu__list__item{
    display: inline-block;
    padding: 1rem;
    }

    .menu__list__item a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-de-link);
    position: relative;
    }

    .menu__list__item a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #C4077B;
    width: 100%;
    height: 0.1rem;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
    }

    .menu__list__item a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    }

    .menu__list__item__contacto, .menu__list__item__contacto a{
    font-weight: bold;
    font-size: 0.8rem;
    }

    /* Seccion Title */
    .title__div{
        flex-direction: row;
    }

    .title__profile{
        width: 20%;
    }

    .title__network__item:hover{
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
    }

    /* Sección Skills y Hobbies */
    .skills__box, .hobbies__box{
        width: 10%;
    }

    /* Sección Experiencia Académica */
    .academic__box{
        width: 20%;
    }

    /* Sección Experiencia Profesional */

    .experience__section{
        display: flex;
    }

    .experience__box{
        flex-direction: column;
        align-items: center;
    }

    .experience__img{
        width: 80%;
    }

    .experience__info{
        padding-left: 0;
    }

    .experiencia__boton--repo, .experience__boton--demo{
        cursor: pointer;
    }

    /* Footer */
    .footer{
        background-color: var(--color-de-fondo);
    }

    .footer__list__item:hover{
        transform: scale(1.3);
        transition: ease-in-out 0.2s;
    }

}